* {
  margin: 0;
  padding: 0;
}

body {
  font: 100% normal Arial, Helvetica, sans-serif;
}

.form {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 500px;
  position: relative;
  top: 50px;
  border: 1px solid #262626;
}

.form label {
  width: 100%;
  display: block;
  padding: 20px 0 20px 0;
}

.form label span {
  color: black;
  font-size: 12px;
  float: left;
  width: 150px;
  text-align: right;
  padding: 10px 10px 0 0;
}

.form input {
  padding: 10px 10px;
  width: 280px;
}

button {
  padding: 10px 10px;
  margin: 10px;
  border: 1px solid black;
  position: relative;
  background-color: rgb(164, 182, 235);
  top: 0px;
  left: 330px;
  width: 150px;
  display: block;
}

button:hover {
  cursor: pointer;
  background-color: rgb(98, 110, 145);
  color: whitesmoke;
}

.checkboxText {
  font-size: 12px;
  color: black;
  margin-top: -18px;
  margin-bottom: 5px;
}

p {
  color: red;
  font-size: 11px;
  margin-left: 170px;
}

h3 {
  text-align: center;
  padding: 20px;
}
